<!DOCTYPE html>
<html>
  <head>
    <title>Dubtrack OBS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dubtrack OBS</h1>
    <p>Welcome to Dubtrack OBS. To use this service, create a new media source in OBS using the OBS <a href="https://obsproject.com/forum/resources/browser-plugin.115/">BrowserPlugin</a> and point the URL at https://obs.ericv.me/room/{roomID} </p>
  </body>
</html>
