<!DOCTYPE html>
<html>
<head>
    <title><%- songName%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="3" >
</head>
<body>
<p class="song_name"><%- songName%></p>
</body>
</html>
